<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1>Edit Book</h1>
<form method="post" th:action="@{/saveBook}">
  <input type="hidden" name="id" th:value="${book.id}"/>
  <p>
    <label>Title</label>
    <input type="text" name="title" th:value="${book.title}" class="form-control"/>
  </p>
  <p>
    <label>Author</label>
    <input type="text" name="author" th:value="${book.author}" class="form-control"/>
  </p>
  <p>
    <label>Published</label>
    <input type="date" name="published" th:value="${book.published}" class="form-control"/>
  </p>
  <p>
    <input type="submit" value="Submit" class="form-control"/>
  </p>
</body>
</html>